
/* шрифти логотип жирность 700
 */
/* заголовок font-weight: 900,заказать услугу font-weight:700,контакти font-weight: 500,*/


:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --hover-link-color: #2196f3;
  --hero-text-color: #ffffff;
  --background-button-color: #f5f4fa;
  --main-background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --heder-background-color:#FFFFFF;
  --footer-authorise-coor:rgba(255, 255, 255, 0.6)
}
a {text-decoration: none;}
ul{list-style: none;}

body {
    background-color: var(--main-background-color);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.71;
    letter-spacing: 3%;
  }
.text{
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
   .section-tittle {
   font-style: 700;
   font-size: 36px;
   line-height: 1.31;
   text-align: center;
   color: var(--tittle-text-color);
   }
   .section-caption{
     
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     color: var(--tittle-text-color);
     
     text-transform: uppercase;
   }
   .filter{
     color: var(--tittle-text-color);
   }
   .section-team{ 
     background-color: var(--background-button-color);

    line-height: 1.9;
    
     }
     
     
header {
  background-color: var(--heder-background-color):
    color: var(--tittle-text-color);
}

.logo:hover, .logo:focus{
  color: var(--hover-link-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 3%;
  color: var(--hover-link-color);
}
span {
  color: var(--tittle-text-color);}

.site-nav .link{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 2%;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-link-color);
     }
  
  .authorise-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size 14px;
    line-height: 1.14;
    letter-spacing: 2%;
  }
  .authorise-nav .link:hover,
  .authorise-nav .link:focus {
    color: var(--hover-link-color);
  }
    
.hero {
  color: var(--hero-text-color);
  
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 6%;
  text-transform: uppercase;
}


/*  button*/
/* .button-main{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
} */

.button-main{
  background-color: var(--hover-link-color);
  color: var(--hero-text-color);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  }
.button-main:hover, 
.button-main:focus{
    color: var(--hover-link-color);
}

.advantages:hover,
.advantages:focus {
  color: var(--hover-link-color);
} 

.section-workers{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
}
.section-heading{
  color: var(--tittle-text-color);
} 
.section-filter{
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  
  color: var(--primary-text-color);
}
.section-speech{
  color: var(--main-background-color);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;

}
/* фільтр */
.filter > .button:hover,
.filter > .button:focus {
  background-color: var(--background-button-color);
  color: var(--tittle-text-color);
}
.button-filter{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.featchers .products{
  color: var(--hero-text-color);
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

footer {
 background-color: var(--footer-background-color);
 }
  .authorise-nav-footer .link {
    color: var(--footer-authorise-coor);
    font-weight: 500;
    font-size:14px;
    line-height: 1.14;
    
  }
  .authorise-nav-footer .link:hover,
  .authorise-nav-footer .link:focus {
    color: var(--hover-link-color);
  }

  .logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  color: var(--hover-link-color);

}
.logo-footer:hover, .logo-footer:focus{
  color: var(--hover-link-color);
}
.logo-footer span{
  color: var(--hero-text-color);
}
.invitation {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
address {
  color: var(--primary-text-color)
  font-size: 14px;
  font-style: normal;
  line-height: 1.66;
  
}
/* .portfolio, .section-title{
  color: var(--tittle-text-color);
  Font Style: Bold}
.portfolio, .section-title{
  Font Size: 18px
Line Height: 36px
Line Height: 171%
Align: Left
Vertical Align: Top
Letter Spacing: 6%
}
.section-title{
  font Style: Bold
  font Size: 18px
  line Height: 1.71
  align: Left
  vertical Align: Top
Letter Spacing: 6%
}   */


